<div class="header">
    <div class="header_top">
        <div class="wrap">
            <div class="logo">
                <img src="assets/images/Glowsun Logo.png" alt="Glowsun Threading and Hair" name="Glowsun" />
            </div>
            <div class="logo">
                <p>GlowSun </p>
                <h6>Threading and Hair</h6>
            </div>
            <div class="call">
                <p>Call US: 847-787-7369</p>
            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="wrap">
            <div class="menu">
                <ul>
                    <li><a style="font-weight: 600;" routerLink={{items}} *ngFor="let items of navitem">{{items}}</a>
                    </li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="social-icons">
                <ul>
                    <li><a href="https://www.facebook.com/Glowsun-Threading-Hair-Studio-109077127893553/"><i
                                class="fa fa-facebook fa-2x" style="width: 15px; "></i></a></li>
                    <li><a href="https://www.instagram.com/glowsun_threading/?igshid=1iw52oj2gww17"><i
                                class="fa fa-instagram fa-2x" style="width: 15px; color: black;"></i></a></li>
                    <li><a
                            href="https://www.google.com/maps/uv?pb=!1s0x880f1b4a89e7d3b1%3A0xcb4fe01a4b4ffe89!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipM2OtdHUtvNxCZF5IMJwKE-vmPVFPP4hrGDDcpA%3Dw320-h320-k-no!5sglowsun%20threading%20%26%20hair%20studio%20-%20Google%20Search!15sCgIgAQ&imagekey=!1e10!2sAF1QipM2OtdHUtvNxCZF5IMJwKE-vmPVFPP4hrGDDcpA&hl=en&sa=X&ved=2ahUKEwjoy-KA97byAhWqc98KHTu6BEEQoiowEnoECFUQAw"><i
                                class="fa fa-google fa-2x" style="width: 15px; color:black"></i></a></li>
                    <li><a href="https://www.yelp.com/biz/glowsun-threading-and-hair-studio-elgin"><i
                                class="fa fa-yelp fa-2x" style="width: 15px; color:black"></i></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="strip"> </div>
</div>