<div class="footer-strip"> </div>
<div class="footer">
        <div class="wrap">
          <div class="footer_grides">
              <div class="footer_grid1">
                   <h3>Information</h3>	
                                 <ul>
                                  <li><a routerLink={{items}} *ngFor="let items of navitem">{{items}}</a></li>
                                  <li><a href="https://www.google.com/maps/place/Glowsun+Threading+%26+Hair+Studio/@42.0123127,-88.3342549,15z/data=!4m5!3m4!1s0x0:0xcb4fe01a4b4ffe89!8m2!3d42.0123127!4d-88.3342549">Site Map</a></li>						     		
                                  <div class="clear"> </div>
                               </ul>
                       
              </div>
               <div class="footer_grid2">
                   <h3>Get In Touch</h3>
                           <div class="address">
                           <ul>
                               <li>815 S Rendall Road Elgin,</li>
                               <li>IL 60123(Inside Meijer)</li>
                                <li>USA.</li>
                              <li>www.glowsunsalon@gmail.com</li>
                              <li><span>Telephone :</span> 847-787-7369</li>
                              
                         </ul>
                  </div>				  
                </div>
       <div class ="footer_grid3">
       <h3>Salon Hours</h3>
       <div class="address">
       <ul>
       <li>Monday: 10AM - 7PM</li>
       <li>Tuesday: 10AM - 7PM</li>
       <li>Wednesday: 10AM - 7PM</li>
       <li>Thursday: 10AM - 7PM</li>
       <li>Friday: 10AM - 7PM</li>
       <li>Saturday: 10AM - 6PM</li>
       <li>Sunday: 11AM - 4PM</li>
       </ul>
       </div>
       </div>
         <div class="footer_grid4">
           <h3>Follow US</h3>
               <div class="img_list">
                   <ul>
                        <li><img src="" alt=""><a href="https://www.facebook.com/Glowsun-Threading-Hair-Studio-109077127893553/">Join Us on Facebook</a></li>
                        <li><img src="" alt=""><a href="https://www.instagram.com/glowsun_threading/?igshid=1iw52oj2gww17">Follow Us on Instagram</a></li>
                        <li><img src="" alt=""><a href="https://www.yelp.com/biz/glowsun-threading-and-hair-studio-elgin">See Us on yelp</a></li>
                        <li><img src="" alt=""><a href="https://www.google.com/maps/uv?pb=!1s0x880f1b4a89e7d3b1%3A0xcb4fe01a4b4ffe89!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipM2OtdHUtvNxCZF5IMJwKE-vmPVFPP4hrGDDcpA%3Dw320-h320-k-no!5sglowsun%20threading%20%26%20hair%20studio%20-%20Google%20Search!15sCgIgAQ&imagekey=!1e10!2sAF1QipM2OtdHUtvNxCZF5IMJwKE-vmPVFPP4hrGDDcpA&hl=en&sa=X&ved=2ahUKEwjoy-KA97byAhWqc98KHTu6BEEQoiowEnoECFUQAw">Join Us on Google</a></li>
                   </ul>
               </div>
        </div>
      <div class="clear"></div>
    </div>
   </div>
 </div>
