<div class="main">
    <div class="content">
    	 <div class="wrap">
    	 	<div class="services">
    	 		 <h2>Our Services</h2>
				<div class="section group">
				  <div class="col_1_of_3 span_1_of_3">
					<h3 style="color:#df6722"><span>Threading </span>/ Waxing</h3>
							<div class="price_list">
			          			<ul>
				                   <li>Eyebrow &emsp;&nbsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;&ensp;&emsp;&emsp;&emsp; $10</li>
				                   <li>Upper Lip &nbsp;&nbsp;&nbsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp; $5</li>
				                   <li>Lower Lip &nbsp;&nbsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $3</li>
				                   <li>Full Chin &nbsp;&emsp;&nbsp;&emsp;&nbsp;&ensp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp; $10</li>
				                   <li>Neck &nbsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&ensp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp; $10</li>
				                   <li>Forehead &emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&emsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5</li>
				                   <li>Side Burn Half/Full &nbsp;&emsp;&nbsp;&ensp;&nbsp;&nbsp;&emsp;&nbsp;&emsp; $5/$10</li>
								   <li>Full Face(No Neck) &nbsp;&emsp;&nbsp;&ensp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp; $35</li>
								   <li>Full Face(With Neck) &nbsp;&emsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp; $35</li>
				                   <li>Nose wax &nbsp;&emsp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&nbsp; $5</li>
				                   
				                </ul>
			          		</div>
			  		   </div>
			  	
			  	<div class="col_1_of_3 span_1_of_3">
			  		<h3 style="color:#df6722"><span>Facials</span><br>Treatment</h3>
							<div class="price_list">
			          			<ul>
				                   <li>Express Facial &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp; $25 <br>(20 mins)</li>
				                   <li>Full Facial(Deep Cleansing) &nbsp;$40 <br>(30 mins)</li>
				                   <li>Gold Facial &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $50 <br> (45 mins)</li>
				                   <li>Diamond &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $60 <br>(50 mins)</li>
				                   <li>Glowsun Customised Facial  $85+ <br>(1 hour)</li>
				                   <li>Skin Firming &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									 $60+<br>  (1 hour)</li>
				                   
				                </ul>
			          		</div>
					
			  	</div>
			  	<div class="col_1_of_3 span_1_of_3">
					<h3 style="color:#df6722"><span>Body Waxing</span></h3>
							<div class="price_list">
			          			<ul>
				                   <li>Full Arms &nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $30</li>
				                   <li>Half Legs/Full Legs &nbsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&emsp;&nbsp; $40/$60</li>
				                   <li>Under Arms &nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $15</li>
				                   <li>Bikini Line &nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $20</li>
				                   <li>Brazilian Bikini &nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $45</li>
				                   <li>Back-Half/Full &nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $30/$50</li>
				                   <li>Full Body Wax &nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $150</li>
				                </ul>
			          		</div>
			  	</div>
			  	<div class="section group example">
			  	<div class="col_1_of_3 span_1_of_3">
					<h3 style="color:#df6722"><span>Hair Cuts</span></h3>
							<div class="price_list">
			          			<ul>
								   <li>Men Regular Hair Cut &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $15</li>
								   <li>Men Advance Hair Cut &nbsp;&ensp;&nbsp;&nbsp;&nbsp; $20+</li>
				                   <li>Women Basic Hair Cuts &nbsp;&ensp;&nbsp; $20+</li>
				                   <li>Wash,Cut,Blow-Dry &nbsp;&nbsp;&nbsp;&ensp;&nbsp;&nbsp;&ensp;&nbsp;&nbsp; $45</li>
				                   <li>Kids & Seniors &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $15</li>
				                </ul>
			          		</div>
			  	</div>
			  	<div class="col_1_of_3 span_1_of_3">
					<h3 style="color:#df6722"><span>Hair Color</span></h3>
							<div class="price_list">
			          			<ul>
				                   <li>Root Tint 1" &nbsp;&ensp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&ensp;&nbsp; $45+</li>
				                   <li>Full Color only Base &nbsp;&emsp;&nbsp;&ensp;&nbsp;&nbsp; $50+</li>
				                   <li>High Lights(Partial) &nbsp;&emsp;&nbsp;&ensp;&nbsp;&nbsp; $60+ only 15 foils</li>
				                </ul>
			          		</div>
			  	</div>
			  	<div class="col_1_of_3 span_1_of_3">
					<h3 style="color:#df6722"><span>Hair Spa</span></h3>
							<div class="price_list">
			          			<ul>
				                   <li>Hot Oil Treatment only &nbsp;&ensp;&nbsp; $20 &nbsp; (15 min)</li>
				                   <li>Henna Color Treatment Advance Booking </li>
				                   <li>Min $40 only Application + </li>
				                </ul>
			          		</div>
			  	</div>
			  	
			  	
				  </div>
				<div class="section group example">
				<div class="col_1_of_3 span_1_of_3">
					<h3 style="color:#df6722"><span>Eye Lashes</span></h3>
							<div class="price_list">
							
			          			<ul>
									<li>Eyebrow Tinting &nbsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp; $16</li>
				                   <li>Full Eye Lashes &nbsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $30</li>
				                </ul>
			          		</div>
						 </div>
						 <div class="col_1_of_3 span_1_of_3">
							<h3 style="color:#df6722"><span>Other services</span></h3>
									<div class="price_list">
										  <ul>
											<li>Makeup - Party Makeup</li>
										   <li>Bridal Makeup - Hair Up-Do</li>
										</ul>
									  </div>
								 </div>
			</div>
                        </div> 
                    </div>
                  </div>
              </div>
          </div>
      
