<div class="main-about">
    <div class="wrap">
        <h1>Welcome to Glowsun Salon and Hair</h1><br>
    </div>
    <br><br><br><br>
    <div class="wrap">
        <h2 style=color:#dfb722>Glowsun salon is an eco-friendly salon who focused on exceeding your expectations for beautiful skin while
            staying true to sustaining our world.
            Opened in 2021 by Bhavna Hingu, master stylist, our of continuously evolving stylists are driven, extremly
            well educated. Each and every client enjoys an
            experience, not just a service. Step into our salon and be greeted by our welcoming team. Relax and escape
            the daily grind,even if just for a movement.
            Our client relax themselves by using free massage chair during waiting time. We offer every type of facial
            and skin care services including threading, waxing,
            facials,Haircut for both men and women. All services are customized for your individual needs. We also offer
            our home made facial cream so you can rejuvenate
            your skin at home. We always ensure that our client satisfy with services we provided.</h2>
        <br><br><br><br><br>
    </div>
</div>