<div class="row">
  <div class="column">
    <img src="assets/images/Hair_photo1.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo2.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo3.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo6.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo5.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="assets/images/Hair_photo6.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo7.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo10.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo9.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo8.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="assets/images/Hair_photo11.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Eyebrow_photo1.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo12.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo13.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo14.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="assets/images/Hair_photo15.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo16.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo18.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo21.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/Hair_photo20.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
