<div class="slider">
  <div class="wrap">
    <div class="slider_top">
      <div class="slider_left">
        <div class="wmuSlider example2">
          <div class="wmuSliderWrapper">
            <div class="mySlides fade">
              <img src="assets/images/1.jpg">
            </div>
            <div class="mySlides fade">
              <img src="assets/images/6.jpg">
            </div>
            <div class="mySlides fade">
              <img src="assets/images/3.jpg">
            </div>
            <div class="mySlides fade">
              <img src="assets/images/4.jpg">
            </div>
          </div>
        </div>
      </div>
       <div class="slider_right">
        <img src="assets/images/slideimg-1.jpg" alt="" />
        <div class="sliderright-text">
          <h3><span>New Facial</span><br />Treatments</h3>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="main">
  <div class="content">
    <div class="wrap">
      <div class="pack-desc">
        <h3>We Love Our Clients</h3><br>
        <p>When you visit our salon,you'll get a highly personalized look that takes your hair type,hair texture and
          face shape into account. We'll also teach you how to manage your look at home.</p>
      </div>
      <div class="spa_products">
        <h2>Latest Facial Products</h2>
        <div class="section group">
          <div class="products_1_of_3">
            <img src="assets/images/spa_product2.jpg" alt="" />
            <h3>Fresh Fruits Facial</h3>
            <p>Fruit facial is customized according to your skin and the problem you have.We are specialized on
              herbal,organic and natural product.Our each and every product is homemade and natural.
              The facial help the skin at the cellular level and activate the process of repair and replacement of
              dead/damage skin cells.</p>
          </div>
          <div class="products_1_of_3">
            <img src="assets/images/spa_product1.jpg" alt="" />
            <h3>Egg Facial</h3>
            <p>For aging skin,egg whites can help tighten and firm.This facial help to close pores and get rid of
              build up for acne-prone skin.If your skin is oily,egg whites are able to clarify pores and hair
              follicles
              that make to much sebum.We can also add natural product like essential oils,herbs and aloevera and many
              more according to client skin.</p>
          </div>
          <div class="products_1_of_3">
            <img src="assets/images/spa_product3.jpg" alt="" />
            <h3>Glowsun Special Facial</h3>
            <p>Glowsun special facial product made from almond, fresh vegitable, raisin and many more dryfruits added
              according to your skin.It rejuvenate and improve your skin firming. We did not add any chemical in any facial so,
            sensitive skin people did not need to worry about ....</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>