<div class="main">
	<div class="content">
		<div class="wrap">
			<div class="contact_info">
				<h2>Find Us Here</h2>
				<div class="map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.438873118775!2d-88.33644358451882!3d42.01231666498308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880f1b4a89e7d3b1%3A0xcb4fe01a4b4ffe89!2sGlowsun%20Threading%20%26%20Hair%20Studio!5e0!3m2!1sen!2sus!4v1631051810010!5m2!1sen!2sus"
						width="1350px" height="456px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>

			<div class="company_address">
				<h2>Salon Information :</h2>
				<p>815 S Randall Rd(Inside Meijer)</p>
				<p>Elgin,IL 60123</p>
				<p>USA</p>
				<p>Phone:(847)787-7369</p>
				<p>Email: <span>glowsunsalon@gmail.com</span></p>
			</div>
		</div>
	</div>
</div>
